.container {
    color: #ffffff;
    
}

.movie_card {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160%;
    border-radius: 30px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 3px transparent;
    background-image: linear-gradient(to right,  #6985C0 , #DB05FE);
    color: #ffffff;
    border-radius: 30px;
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: none;
    position: absolute;
    top: 40%;
    cursor: pointer;
    
    
}

/*
.movie_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 0;
    border-radius: 30px;
} 

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 0;
    border-radius: 30px;
}*/

.movie_card:hover > .btn {
    display: inline;
}